<?xml version="1.0" encoding="UTF-8"?>
<!--

    The MIT License
    Copyright © 2024 Landeshauptstadt München | it@M

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in
    all copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
    THE SOFTWARE.

-->

<!-- The possibly existing properties concerning the "logging.level" in the application.yml
     have priority over the log level maintained in this file.  -->
<configuration>


    <springProperty scope="context" name="springAppName" source="spring.application.name"/>


    <springProfile name="!json-logging">

        <!-- Log appender -->
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <!-- @formatter:off -->
                <pattern>
                    %date{yyyy.MM.dd HH:mm:ss.SSS} | ${springAppName} | TraceId: %X{traceId:-} | SpanId: %X{spanId:-}] | %level | [%thread] | %logger{0} | [%file : %line] - %msg%n
                </pattern>
                <!-- @formatter:on -->
            </encoder>
        </appender>

        <!-- Logger -->
        <logger name="de.muenchen.mobidam"
                level="debug"
                additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>

        <logger name="org.springframework.cache"
                level="trace"
                additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>

        <logger name="org.springframework.web"
                level="debug"
                additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>

        <!-- Logger usage -->
        <root level="info">
            <appender-ref ref="STDOUT" />
        </root>

    </springProfile>


    <springProfile name="json-logging">

        <appender name="JSON_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <throwableConverter
                    class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                    <!-- default max size of one log line in docker is 16kb - UTF8 ~ 1 Character = 1 Byte -->
                    <!-- therefore limit stack_traces to a maximum of 8192 characters (to leave room for the rest of the message) -->
                    <maxLength>8192</maxLength>
                    <exclude>sun\.reflect\..*\.invoke.*</exclude>
                    <exclude>net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>
                    <rootCauseFirst>true</rootCauseFirst>
                </throwableConverter>
            </encoder>
        </appender>

        <!-- Logger usage -->
        <root level="info">
            <appender-ref ref="JSON_STDOUT" />
        </root>

    </springProfile>


</configuration>
